body {
    background-color: rgba(255, 238, 203, 0.214);
    margin: 0px;
    padding: 0px;
   cursor: grab; 
}
body:active {
    cursor: grabbing;
} 
.grid {
    display: grid;
    line-height: 1.5;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100vw;
    height: 100vh;
}

#nav {
    background-color: rgb(94, 42, 0);
    width: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    line-height: 3;
    height: auto;
    display: block;
    z-index: 2;
    color: white;
}
#nav a {
    padding: 10px 5px 0px 5px;
    letter-spacing: 2px;
    position: relative;
    left: 40%;
    text-decoration-line: none;
    color: rgba(255, 203, 234, 0.773);
}
#nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}
#nav a:active {
    color: white;
}
#nav #interact-button:active {
    color: rgba(255, 203, 234, 0.773);
}
#nav h2 {
    display: inline;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    color:rgb(255, 170, 0)
}
body #nav .current-page {
    color: grey;
    cursor: not-allowed;
    text-decoration-line: none;
}
body #nav .noclick {
    text-decoration-line: none;
}

            /* Home Page */

.job {
    background-color: rgb(255, 203, 234);
    position: fixed;
    width: 100%;
    height: 40%;
}
.job h1 {
    position: relative;
    left: 12%;
    top: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(94, 42, 0)
}
.job h1:hover {
    top: 58%;
}
.job h1:active {
    color: rgb(255, 170, 0);
}
.photo {
    background-image: url(facepic.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    grid-column: 8 / span 3;
    grid-row: 3 / span 5;
    z-index: 2;
    margin: 0;
    position: relative;
}
.photo:hover {
    bottom: 3px;
}
.photo:active {
    box-shadow: rgb(255, 203, 234) 0px 0px 15px 5px;
}
figcaption {
    padding-left: 5px;
    padding-top: 5px;
}
#location {
    font-size: 10px; 
    color:rgb(94, 42, 0); 
    line-height: 1.1;
    visibility: hidden;
}
.interact-1 {
    background-color: '';
    grid-column: 2 / span 5;
    grid-row: 5 / span 2;
    border-radius: 90px;
    z-index: 1;
    padding: 10px;
    box-shadow: rgba(255, 203, 234, 0.773) 0px 0px 50px 30px inset;
    border: 1px solid rgb(255, 203, 234);
    font-size: 12px;
    margin: 15px;
    left: 25px;
    position: relative;
    visibility: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: auto;
    height: auto;
}
.interact-1:hover {
    bottom: 2px;
}
.interact-1:active {
    box-shadow: none;
    background-color: rgb(255, 203, 234);
    color: whitesmoke;
}
.interact-1 a{
    text-decoration-line: none;
}
.language {
    background-color: '';
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    max-height: 150px;
    padding-bottom: 10px;
    text-align: center;
}
.language h2{
    position: sticky;
    left: 15%;
    display: inline-block;
    color: rgba(94, 42, 0, 0.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
.language h2:hover{
    color:rgb(94, 42, 0);
}
.language img{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    position: sticky;
    left: 10px;
    max-width: 60px;
    max-height: 60px;
}
.language img:hover{
    top: 20%;
}

            /* Contact Page */

.linkedin {
    grid-column: 1 / span 4;
    grid-row: 1 / span 9;
    background-color: rgba(255, 170, 0);
}
.email {
    grid-column: 5 / span 4;
    grid-row: 1 / span 9;
    background-color: rgba(141, 63, 0);
}
.instagram {
    grid-column: 9 / span 4;
    grid-row: 1 / span 9;
    background-color:rgba(255, 203, 234, 0.421);
}
#contact-section {
    box-sizing: border-box;
    border: 10px rgb(94, 42, 0) solid;
    border-bottom: none;
    text-align: center;
}
#contact-section img {
    position: relative;
    padding: 25px;
    z-index: 2;
    top: 40%;
}
#contact-section img:hover {
    box-shadow: 0px 0px 5px 5px white;
}
#contact-section img:active {
    box-shadow: 0px 0px 5px 5px black inset;
}
.linkedin img:active {
    background-color:rgb(172, 115, 0);
}
.email img:active {
    background-color:rgb(105, 47, 0)
}
#contact-section h1 {
    position: absolute;
    top: 70%;
    left: 77%;
}


            /* Media Queries */

@media only screen and (max-width: 400px) {
    .job h1 {
        font-size: 25px;
    }
    .language h2 {
        visibility: hidden;
    }
    .photo {
        grid-column: 4 / span 6;
        grid-row: 5 / span 3;
    }
    #nav h2 {
        display: block;
        line-height: 0.5;
    }
    #nav a {
        left: 5%;
    }
    .interact-1 {
        visibility: hidden;
    }
    body #nav #interact-button {
        visibility: hidden;
    }
}