body {
    background-color: rgb(105, 47, 0);
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 99vw;
    position: absolute;
    height: 100%;
}
body:active {
    cursor: grabbing;
} 
.grid {
    display: grid;
    line-height: 1.5;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100vw;
    height: 100vh;
}
*::-webkit-scrollbar {
    background-color: rgb(94, 42, 0);
    width: 15px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 203, 234);
    border: 2px solid white;
    border-radius: 25px;
    width: 10px;
}
#nav {
    background-color: rgb(94, 42, 0);
    width: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    line-height: 3;
    height: auto;
    display: block;
    z-index: 10;
    color: white;
    border-bottom: 5px solid rgb(118, 53, 0);
}
#nav a {
    padding: 10px 5px 0px 5px;
    letter-spacing: 2px;
    position: relative;
    left: 40%;
    text-decoration-line: none;
    color: rgba(255, 203, 234, 0.773);
}
#nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}
#nav a:active {
    color: white;
}
#nav #interact-button:active {
    color: rgba(255, 203, 234, 0.773);
}
#nav h2 {
    display: inline;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    color:rgb(255, 170, 0)
}
body #nav .current-page {
    color: grey;
    cursor: not-allowed;
    text-decoration-line: none;
}
body #nav .noclick {
    text-decoration-line: none;
}

            /* Home Page */

.job {
    background-image: linear-gradient(to top, rgb(110, 31, 44), rgb(255, 97, 123), rgb(252, 105, 208), purple);
    position: absolute;
    width: 101vw;
    height: 40%;
    left: 0;
}
.job h1 {
    position: relative;
    left: 12%;
    top: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(94, 42, 0)
}

#selfie {
    border-radius: 50%;
    background-image: url('./facepic.jpg');
    background-position: -6px;
    background-size:cover;
/*    border: 7px solid rgba(255, 255, 255, 0.50);*/
    position: absolute;
    right: 5%;
    top: 35%;
    height: 45%;
    width: 25%;
    padding: 30px;
    animation: selfiedance 2200ms infinite linear;
}
@keyframes selfiedance {
    50% {
        padding: 37px;
        border: 5px double pink;
    } 
    80% {
        padding: 35px;
        border: 2px dotted goldenrod;
    }
}
#location {
    font-size: 10px; 
    color:rgb(94, 42, 0); 
    line-height: 1.1;
    visibility: hidden;
}
#interact-button {
    scroll-behavior: smooth;
}
#interact {
    visibility: hidden;
    z-index: 5;
}
#interact.fade {
    animation: fade 3999ms forwards;
}
.interact-1 {
    bottom: 100px;
    z-index: 1;
    padding: 10px;
    /*box-shadow: rgba(255, 203, 234, 0.773) 0px 0px 80px 35px inset;*/
    font-size: 25px;
    margin: 15px;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    color: rgba(255, 203, 234, 0.773);
    -webkit-text-stroke: 1px white;
}
.interact-1 a{
    text-decoration-line: none;
    color: brown;
}
.interact-1 #smiley {
    position: relative;
    top: 15px;
    opacity: 0.4;
}

.language {
    position: relative;
    top: 15%;
    width: 120%;
    right: 100px;
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    z-index: 2;
    border-top: 25px inset rgba(0, 0, 0, 0.15);
    background-image: url('./logos/stack.jpg');
    background-position: center;
    background-size: cover;
}
.language h2{
    position: absolute;
    left: 15%;
    color: rgba(94, 42, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    z-index: 4;
}
.language h2:hover{
    color:rgb(94, 42, 0);
}
.language img{
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
    position: relative;
    left: 10px;
    max-width: 60px;
    max-height: 60px;
    z-index: 4;
}
#gif-wrapper {
    position: absolute;
    bottom: 1%;
}

            /* Home Page : Projects */

.p-photo {
    border: 2px solid white;
    border-radius: 15px;
    height: 400px;
    width: 550px;
}
.photo-project {
    position: relative;
    margin: 50px;
    padding: none;
    box-sizing: border-box;
}
.photo-project .p-overlay .name i {
    color: red;
}
#projects {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 2;
    padding: 50px;
    display: flex;
    justify-content: center;
}
#projects::after {
    content: '';
    background-color:rgb(105, 47, 0);
    border-top: 15px double white;
    z-index: -1;
    inset: 0;
    transform: skewY(8deg);
    position: absolute;
}
#project-wrap {
    z-index: 2;
    background-color:'';
    color: white;
    position: absolute;
    top: 150%;
    height: 150%;
    right: 0;
    left: 0;
}
#projects-title {
    position: absolute;
    top: 0;
    left: 5%;
}
.p-overlay p {
    color: rgb(255, 255, 0);
}
#image-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    width: 75%;
    height: 50%;
    top: 15%;
    overflow-x: scroll;
}
.p-overlay {
    background-color: rgba(0, 0, 0, 0.80);
    transition: height 1s , background-color 0.5s;
    z-index: 3;
    border-radius: 15px;
    inset: 0;
    height: 400px;
    position: absolute;
    cursor: pointer;
}
#p-overlay-1:hover, #p-overlay-3:hover{
    background-color: rgb(0, 0, 0, 0);
    height: 380px;
    color: black;
    -webkit-text-stroke: gold 1px;
}
.name {
    z-index: 10;
    border-bottom: 2px solid orange;
    text-align: center;
    position: relative;
    top: 85%;
}







            /* Contact Page */


#linkedin {
    grid-column: 1 / span 4;
    grid-row: 1 / span 9;
    background-color: rgba(255, 170, 0);
}
#email {
    grid-column: 5 / span 4;
    grid-row: 1 / span 9;
    background-color: rgb(145, 217, 255);
}
#instagram {
    grid-column: 9 / span 4;
    grid-row: 1 / span 9;
    background-color:rgba(255, 203, 234, 0.421);
}
.contact-section {
    box-sizing: border-box;
    /* border: 10px rgb(94, 42, 0) solid; */
    border-bottom: none;
    text-align: center;
}
.contact-section img {
    position: relative;
    padding: 25px;
    z-index: 2;
    top: 40%;
}
.contact-section img:hover {
    box-shadow: 0px 0px 5px 5px white;
}
.contact-section img:active {
    box-shadow: 0px 0px 5px 5px black inset;
}
#linkedin img:active {
    background-color:rgb(172, 115, 0);
}
#email img:active {
    background-color:rgb(105, 47, 0)
}
.contact-section h1 {
    position: absolute;
    top: 70%;
    left: 77%;
}


            /* Media Queries */
@media only screen and (max-width: 1200px) {
    #projects {
        height: 150%;
    }
    .p-overlay {
        display: none;
    }
}
@media only screen and (min-width: 1120px) and (max-width: 1199px) {
    .language {
        top: 40%;
    }
}
@media only screen and (max-width: 600px) {
    #image-wrap {
        justify-content: center;
    }
    #projects {
        padding: 5px;
    }
    .p-photo {
        width: 425px;
        height: 350px;
    }
    .p-overlay {
        width: 300px;
        height: 350px;
    }
    .job {
        text-align: center;
    }
    .job h1 {
        font-size: 25px;
        left: 2%;
    }
    .language h2 {
        visibility: hidden;
    }
    .photo {
        grid-column: 4 / span 6;
        grid-row: 5 / span 3;
    }
    #nav h2 {
        display: block;
        line-height: 0.5;
    }
    #nav a {
        left: 5%;
    }
    .interact-1 {
        font-size: 120%;
        padding: 15px;
        left: -5px;
        right: 0;
    }
    .language {
        visibility: hidden;
    }
    #contact-section {
        border: 0px;
    }
    #selfie {
        width: 65%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .job h1 {
            font-size: 25px;
        }
        .language h2 {
            visibility: hidden;
        }
        .photo {
            grid-column: 4 / span 6;
            grid-row: 4 / span 4;
        }
        #nav h2 {
            display: block;
            line-height: 0.5;
        }
        #nav a {
            left: 5%;
        }
        .interact-1 {
            visibility: hidden;
        }
        #selfie {
            width: 40%;
        }
}
@media only screen and (max-width: 400px) {
    .p-photo {
        width: 225px;
        height: 175px;
    }
    #image-wrap {
        height: 25%;
    }
}
@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        visibility: visible;
        opacity: 100%;
    }
}
